*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.container{
    display: flex;
    justify-content: center;
}
.mmg56799{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    margin-bottom: 200px;

}
p{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: rgba(50, 35, 255, 0.5);
    margin-top: 20px;
}
.mmg099812{
        display: flex;
        justify-content: space-around;
        height: fit-content;
        padding: 20px;
}
.mmg100{
    display: flex;
    justify-content: center;
    &
    img{
        width: 150px;
    }
}
.mmg200{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    &
    a{
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        margin-left: 100px;
        background-color: rgb(209, 15, 15);
        padding: 10px;
        border-radius: 7px;
        width: 80px;
        text-align: center;
        font-size: 10px;
    }
   
}
.mmg300{
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    &
    a{
        background-color: rgba(14, 165, 14, 0.849);
        color: black;
        padding: 10px;
        border-radius: 7px;
        font-family: sans-serif;
        font-weight: bold;
    }

}
.mmg4055 img{
    width: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.mmg550123{
    text-align: center;
    background-color: rgb(40, 102, 235);
    color: white;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family: calibri;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    padding: 1em;
    width: 400px;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    line-height: 1;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}